{% extends "base_template.html" %}
{% block title %}Colegio San Miguel{% endblock %}
{% block content %}
 
<h2>Registrar asistencias</h2>


<form action="{{ request_path }}" method="POST" class="container">
    <label for="clase">Tipo de clase</label><br>
    <select id="clase" name="clase" width="500px">
        <option value="1">Aula</option>
        <option value="2">Educación Física</option>
    </select><br>

    <label for="fecha">Fecha de asistencia</label><br>
    <input type="date" id="fecha" name="fecha"><br>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Asistencia</th>
                <th>Justificación</th>
            </tr>
        </thead>

        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellido }}</td>
                    <td>
                        <select name="asistio-{{ estudiante.id }}">
                            <option value="s">Sí</option>
                            <option value="n">No</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="justificacion-{{ estudiante.id }}" placeholder="Justificación">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Confirmar"/><br> 
 </form>

 <a href="{{ url_for('sesionPreceptor')}}"class="menu-link">Volver</a>

{% endblock %}
