{% extends "base_template.html" %}
{% block title %}Iniciar Sesion{% endblock %}
{% block content %}
    <h1>Iniciar Sesion</h1>
    <hr/>
    <form action="{{ request.path }}" method="post">
        <label>
        <input type="radio" name="tipoUsuario" value="padre" checked> Padre </label>
        <label> <input type="radio" name="tipoUsuario" value="preceptor"> Preceptor </label>
        <br>
        <label> Email: <input type="email" name="correo" required> </label>
        <br>
        <label> Contraseña: <input type="password" name="clave" required> </label>
        <br>
        <button type="submit">Iniciar sesión</button>
    </form>
{% endblock %}
