{% extends "base_template.html" %}
{% block title %}Colegio San Miguel{% endblock %}
{% block content %}
 
<h2>Registrar asistencias</h2>
<hr/>
<form action="{{ request_path }}" method="POST" class="container">
    <label for="curso">Cursos</label><br>
    <select id="curso" name="curso" width="500px"><br>
        {% for curso in preceptor.cursos %}
            <option value="{{ curso.id }}"> {{ curso.anio }} - {{ curso.division }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Confirmar"/><br>
 </form>

<a href="{{ url_for('sesionPreceptor')}}"class="menu-link">Volver</a>

{% endblock %}

